* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  
  background: #fff;
  color: #333;
  line-height: 3.6;
}

/* ===== HEADER ===== */
header {
  background: #111;
  color: #fff;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 42px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover {
  color: #00bcd4;
}

/* ===== HERO ===== */
.hero {
  background: #2d2d2d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 120px 0;
}

.hero-content {
  max-width: 1000px;
}

.hero-content h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.hero-content p {
  margin-bottom: 20px;
}

.btn {
  background: #00bcd4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background: #0199aa;
}

.hero-image img {
  width: 400px;
  border-radius: 10px;
}

/* ===== ABOUT ===== */
#about {
  padding: 80px 0;
  background: #f4f4f4;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-image img {
  width: 400px;
  border-radius: 10px;
}

.about-text h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.about-text p {
  margin-bottom: 15px;
}

/* ===== SKILLS ===== */
#skills {
  padding: 70px 0;
}

#skills h2 {
  text-align: center;
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skills-list li {
  background: #00bcd4;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

/* ===== PROJECTS ===== */
#projects {
  background: #f4f4f4;
  padding: 80px 0;
}

#projects h2 {
  text-align: center;
  margin-bottom: 30px;
}

.project-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.project-card {
  background: #fff;
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* ===== CONTACT ===== */
#contact {
  padding: 80px 0;
  text-align: center;
}

#contact h2 {
  margin-bottom: 10px;
}

#contact p {
  margin-bottom: 8px;
}

/* ===== FOOTER ===== */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px 0;
  
}
